* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.header {
  background-color: #0eb9b9;
  gap: 250px;
}

.header span.title {
  display: inline-block;
  width: 100px;
}
.player-name {
  display: inline-block;
  width: 80%;
}
.mark-player {
  display: inline-block;
  width: 50px;
  text-align: center;
}

footer {
  background-color: #0eb9b9;
  padding: 10px 20px;
}
footer input#add-new-player {
  width: 80%;
  padding: 10px;
  background-color: #077676;
  border: none;
  outline: none;
  color: white;
  margin-right: 10px;
}
footer input#add-new-player::placeholder {
  color: white;
}
footer button {
  width: 18%;
  padding: 10px;
  border: none;
  font-weight: bold;
}
